* {
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: content-box;
}

body > h1:first-child {
  text-align: center;
  margin-bottom: 25px;
}

:root {
  --main-bg-color: #fefefe;
  --title-color: #404040;
  --context-color: #222;
  --code-bg: #121212;
  --normal-padding: 15px;
  --samller-padding: 7px;
  --normal-margin: 15px;
  --larger-padding: 20px;
  --code-color: rgb(241, 241, 241);
  --blockquote-color: rgb(143, 56, 56);
  --code-green-color: #519a46;
  --text-line-height: 1.8em;
  --text-font-size: 16px;
}

html {
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  margin-bottom: var(--normal-margin);
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

p {
  color: var(--context-color);
  font-size: var(--text-font-size, 16px);
  line-height: var(--text-line-height);
  margin-bottom: var(--normal-margin);
  word-break: break-all;
}

pre {
  background-color: var(--code-bg);
  margin-bottom: var(--normal-margin);
  padding: var(--larger-padding) var(--normal-padding);
  color: var(--code-color);
  font-size: 16px;
  border-radius: 5px;
  white-space: normal;
}

pre pre {
  padding: 0;
  margin-bottom: 0;
  border: none;
  white-space: pre;
}

.highlight .kd,
.highlight .nt,
.highlight .k,
.highlight .kr {
  color: rgb(86, 156, 214);
}

.highlight .nx {
  color: rgb(220, 220, 220);
}

.highlight .s1,
.highlight .s,
.highlight .s2,
.highlight .err,
.highlight .mi {
  color: rgb(214, 157, 133);
}

.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .nb {
  color: var(--code-green-color);
}

p a {
  color: rgb(53, 142, 245);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p img {
  width: 100%;
  border-radius: 5px;
}

blockquote {
  position: relative;
  padding: var(--samller-padding) var(--normal-padding);
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: var(--normal-margin);
}

blockquote p {
  margin-bottom: 0;
  color: var(--blockquote-color);
}

blockquote::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: rgb(20, 81, 122);
}

hr {
  margin: var(--samller-padding) 0;
}

ul,
ol {
  list-style-position: inside;
}

li p {
  display: inline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--normal-margin);
}

th {
  font-size: 18px;
  line-height: 2em;
  padding: 0 12px;
  text-align: left !important;
  color: #909399;
  font-weight: 500;
}

td,
th {
  border: 1px solid #ebeef5;
}

td {
  text-align: left !important;
  padding: 8px 12px;
  color: var(--context-color);
}

tbody tr:hover {
  background-color: #f5f7fa;
}

body > pre {
  overflow: auto;
}
